Repository Redot-Engine/redot-website, pull requests merged in 2025-01, with the labels that each got.

#19 Refactor and Internationalization Updates for Blog Section
  app/(root)/blog/[slug]/page.tsx
  components/blog/article-content-wrapper.tsx
  components/blog/article-not-found.tsx
  components/blog/article-splash.tsx
  components/sections/blog/blog-client.tsx
  components/sections/blog/latest-blog-hero.tsx
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
Labels: enhancement

#23 Add dynamic contact, FAQ, and license pages
  app/(root)/contact/page.tsx
  app/(root)/licenses/page.tsx
  bun.lockb
  components/contact/contact-card.tsx
  components/header-section.tsx
  components/ui/accordion.tsx
  constants/contactCardsData.tsx
  constants/faq.ts
  constants/footer.ts
  constants/socials.tsx
  locales/en/translation.json
  package.json
  tailwind.config.ts
Labels: feature

#24 Add Locales for Contact and Licenses
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
Labels: translation

#26 Add Community Page and Related Components
  app/(root)/community/layout.tsx
  app/(root)/community/page.tsx
  app/(root)/cookie-settings/layout.tsx
  app/(root)/cookie-settings/page.tsx
  app/(root)/download/[platform]/page.tsx
  app/(root)/privacy/layout.tsx
  app/(root)/privacy/page.tsx
  app/(root)/settings/layout.tsx
  app/(root)/settings/page.tsx
  app/(root)/terms/layout.tsx
  app/(root)/terms/page.tsx
  app/globals.css
  app/layout.tsx
  app/sitemap.ts
  bun.lockb
  components/SectionWithButtons.tsx
  components/UnderConstruction.tsx
  components/community/CommunityCard.tsx
  components/sections/blog/BlogClient.tsx
  components/sections/landing/Hero.tsx
  components/sections/landing/Start.tsx
  components/ui/dialog.tsx
  components/ui/sheet.tsx
  constants/footer.ts
  constants/links.ts
  constants/socials.tsx
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
  package.json
  tailwind.config.ts
Labels: fix, feature

#29 Add TikTok and Forum Links and Simplify Hero Section
  .example.env
  components/sections/landing/Hero.tsx
  components/ui/animated-shiny-text.tsx
  constants/links.ts
  constants/socials.tsx
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
Labels: enhancement, fix

#33 Fix Markdown Processing and Emoji Font Family Fallback
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  app/globals.css
  components/blog/ArticleContent.tsx
Labels: fix

#36 Add Dynamic Content Loading for Terms and Privacy Pages
  app/(root)/privacy/page.tsx
  app/(root)/terms/page.tsx
  components/TextFetcher.tsx
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
Labels: feature

#38 Refactor and Enhance MobileSidebar UI
  components/MobileSidebar.tsx
  components/ui/sheet.tsx
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
  public/logo.svg
  public/logo_large.svg
Labels: enhancement, fix

#39 Update copyright text
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
Labels: fix

#41 Enhance NotFound Page Layout
  app/not-found.tsx
  components/SectionLink.tsx
  components/ui/button.tsx
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
Labels: enhancement

#46 Improve Accessibility and UI Consistency on Landing Page Components
  app/layout.tsx
  components/Header.tsx
  components/sections/landing/Features.tsx
  components/sections/landing/Hero.tsx
  components/sections/landing/ProductShowcase.tsx
Labels: enhancement

#45 Add Internationalization Support for Blog Content
  app/(root)/blog/[slug]/page.tsx
  app/(root)/blog/page.tsx
  bun.lockb
  lib/blog.ts
  next.config.ts
  package.json
  sanity.config.ts
  sanity/schemaTypes/postType.ts
Labels: enhancement, feature

#47 Fix Post Data Handling and OpenGraph/Twitter Metadata
  app/(root)/blog/[slug]/page.tsx
Labels: fix

#48 Add Cookie Consent Component
  app/(root)/layout.tsx
  components/CookieConsent.tsx
Labels: enhancement, feature

#49 Improve Blog Page Layout and ArticleSplash Design
  app/(root)/blog/[slug]/page.tsx
  app/globals.css
  components/blog/ArticleSplash.tsx
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
Labels: enhancement

#51 refactor: temporarily remove Web Editor platform from supportedPlatformsData
  constants/supportedPlatformsData.ts
Labels: enhancement

#52 feat: enhance site metadata for better SEO and social sharing
  app/layout.tsx
Labels: fix

#54 Turkish Translation Rework
  locales/tr/translation.json
Labels: translation

#53 refactor: remove redundant Twitter metadata from layout configuration
  app/layout.tsx
  app/opengraph-image.png
Labels: enhancement

#55 Add Biograde Link and Update Video Source in Hero Section
  components/sections/download/DownloadHero.tsx
  components/sections/landing/Hero.tsx
Labels: enhancement

#56 Settings
  actions/settings.ts
  app/(root)/blog/[slug]/page.tsx
  app/(root)/settings/layout.tsx
  app/(root)/settings/page.tsx
  bun.lockb
  components/blog/ArticleSplashNew.tsx
  components/blog/ArticleSplashOld.tsx
  components/settings/AppearanceForm.tsx
  components/settings/SettingsSidebar.tsx
  components/ui/label.tsx
  components/ui/radio-group.tsx
  constants/settingsSidebarItem.ts
  package.json
Labels: feature

#64 Add Download Dialog, Version Selection, and Platform Detection
  app/api/download/route.ts
  components/download/DownloadDialog.tsx
  components/sections/download/DownloadHero.tsx
  components/ui/card.tsx
  constants/versions.tsx
  lib/platformDownloadLink.ts
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
Labels: enhancement, feature

#65 Add GitHub Workflows
  .github/actions/install/action.yml
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/pr-coauthor.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/welcome-bot.yml
Labels: enhancement
