Repository Redot-Engine/redot-website, pull requests merged in 2025-02, with the labels that each got.

#66 Update Platform and Channel Logic, CI Workflows, and Package Configuration
  .github/actions/install/action.yml
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  app/api/download/route.ts
  components/download/DownloadDialog.tsx
  package.json
Labels: fix

#82 chore(translation): add Arabic localization
  constants/language.ts
  locales/ar/translation.json
  public/flags/SA.svg
  sanity.config.ts
Labels: translation

#89 Feature/#34 add rss button
  app/api/feed.xml/route.ts
  bun.lockb
  constants/footer.ts
  locales/ar/translation.json
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
  sanity.config.ts
Labels: feature

#92 Update Discord Image URL to Use Invite Link with .webp Format
  constants/socials.tsx
Labels: feature

#93 Add Custom Content Security Policy and Security Headers in `next.config.ts`
  next.config.ts
Labels: feature

#95 fix: ar and el translation
  locales/ar/translation.json
  locales/el/translation.json
Labels: translation, fix, feature

#100 Integrate Lenis for Smooth Scrolling and Update Layout
  app/(main)/layout.tsx
  app/(main)/page.tsx
  bun.lockb
  components/Lenis.tsx
  package.json
Labels: feature

#108 chore:polish translation
  locales/pl/translation.json
Labels: translation, feature
