Repository Redot-Engine/redot-website, pull requests merged in 2025-03, with the labels that each got.

#113 Enhance Article Content with Multilingual Support and Improved Styling
  app/globals.css
  bun.lockb
  components/blog/ArticleContent.tsx
  lib/blog.ts
  package.json
  tailwind.config.ts
Labels: feature

#111 Update Template, Labeler, CI Workflow, and README
  .github/labeler.yml
  .github/pull-request-template.md
  .github/workflows/ci.yml
  README.md
Labels: feature

#110 Enhance Pre-Commit Hook to Skip Whitespace-Only Changes
  .husky/pre-commit
Labels: feature

#112 Add Forum Link to Translations Across Multiple Languages
  constants/header.ts
  locales/ar/translation.json
  locales/bg/translation.json
  locales/cs/translation.json
  locales/da/translation.json
  locales/de/translation.json
  locales/el/translation.json
  locales/en-GB/translation.json
  locales/en/translation.json
  locales/es-LA/translation.json
  locales/es/translation.json
  locales/fi/translation.json
  locales/fr/translation.json
  locales/hi/translation.json
  locales/hr/translation.json
  locales/hu/translation.json
  locales/it/translation.json
  locales/ja/translation.json
  locales/ko/translation.json
  locales/lt/translation.json
  locales/nl/translation.json
  locales/no/translation.json
  locales/pl/translation.json
  locales/pt-BR/translation.json
  locales/ro/translation.json
  locales/ru/translation.json
  locales/sv/translation.json
  locales/th/translation.json
  locales/tr/translation.json
  locales/uk/translation.json
  locales/vi/translation.json
  locales/zh-Hans/translation.json
  locales/zh-TW/translation.json
Labels: translation, feature

#114 Add Padding to `ArticleSplashOld` Component for Improved Layout
  app/(main)/privacy/page.tsx
  app/(main)/terms/page.tsx
  components/blog/ArticleSplashOld.tsx
Labels: fix, feature

#120 Enhance Blog Layout and Styling Consistency
  app/(main)/privacy/page.tsx
  app/(main)/terms/page.tsx
  components/blog/ArticleCard.tsx
  components/blog/ArticleSplashNew.tsx
  components/sections/blog/BlogClient.tsx
  components/sections/blog/LatestBlogHero.tsx
  components/sections/landing/Blog.tsx
Labels: fix, feature

#121 fix: DE translation
  locales/de/translation.json
Labels: translation

#144 fix: download
  app/api/download/route.ts
Labels: fix, feature, Priority: High
